<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="Params"
		label="PARAMETROS"
		description=""
	>
		<field
				name="attachment_dir" 
				type="text" 
				default="./com_internalmessage_attachment" 
				label="DIRECTORIO DE ADJUNTOS" 
				description="DIRECTORIO DE ARCHIVOS ADJUNTOS" 
		/>
        <field 
				name="send_mail" 
				type="radio" 
				default="1" 
				label="AVISAR POR CORREO" 
				description="AVISAR POR CORREO ELECTRONICO"
		>
            <option value="1">SI</option>
            <option value="0">NO</option>
        </field>
	</fieldset>
</config>
